<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
<connectionStrings>
  <add name="my_work" connectionString="Data Source=DESKTOP-JB9557C\SQLEXPRESS;Initial Catalog=my_first_Work;Integrated Security=True"/>
  <add name="my_data" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\my_first_Work\App_Data\mydatabase.mdf;Integrated Security=True"/>
</connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
